.about-signature {
    .card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: white;
        box-shadow: 0 12px 20px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 60px;
    }

    .title-wrapper {
        width: 40%;

        h2 {
            font-size: 30px;
            line-height: 1.4;
        }

        .highlight {
            color: $blue;
            border-bottom: 3px solid $yellow;
        }
    }

    .content-wrapper {
        width: 55%;

        p:first-of-type {
            margin-top: 0;
        }

        img {
            width: 100px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .about-signature {
        .title-wrapper {
            h2 {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .about-signature {
        .card-wrapper {
            display: block;
            padding: 30px;
        }

        .title-wrapper,
        .content-wrapper {
            width: 100%;
        }
        
        .title-wrapper {
            h2 {
                margin-bottom: 30px;
                font-size: 22px;
            }
        }
    }
}