.columned-list {
    .title {
        font-size: 26px;
        margin-bottom: 30px;
    }

    ul {
        padding: 0 0 0 20px;
        margin: 0;
    }

    li {
        padding: 5px 0;
    }

    &.column-2 {
        ul {
            column-count: 2;
            column-gap: 40px;
        }
    }

    &.column-3 {
        ul {
            column-count: 3;
            column-gap: 40px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .columned-list {
        &.column-3 {
            ul {
                column-count: 2;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .columned-list {
        .title {
            font-size: 20px;
        }
        
        &.column-2,
        &.column-3 {
            ul {
                column-count: 1;
                column-gap: 0;
            }
        }
    }
}