.feature-intro {
    margin-bottom: 10vw;

    .content-wrapper {
        width: 45%;
        max-width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    .feature-intro {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 850px) {
    .feature-intro {
        .content-wrapper {
            width: 100%;
            max-width: 100%;
        }
    }
}