.form-embed {
    .content-wrapper {
        text-align: center;
        margin-bottom: 60px;

        .title,
        p {
            margin-left: auto;
            margin-right: auto;
        }
    }
}