.grid-of-cards {
    .title-wrapper {
        margin: 0 0 40px;

        p {
            margin: 0;
        }

        &.center {
            margin: 0 auto 40px;
            text-align: center;
        }
    }

    .cards-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 -10px;

        .title-wrapper {
            width: calc(100% / 3 - 40px);
            margin: 10px;
            padding: 0 20px 20px 0;
        }
    }

    .card {
        position: relative;
        width: calc(100% / 3 - 60px);
        margin: 10px;
        box-shadow: 0 12px 20px rgba(0,0,0,0.08);
        border-radius: 0 0 20px 20px;
        padding: 36px 20px 40px;
        text-align: left;
        transition: all 0.2s ease;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            top: 0;
            left: 0;
            transition: all 0.2s ease;
        }

        &.content-center:not(.video) {
            text-align: center;

            p {
                max-width: 300px;
                margin: auto;
            }
        }

        h3 {
            margin: 0 0 20px;
            font-size: 22px;
        }

        p {
            margin: 0;
            font-size: 16px;
            color: #848484;
        }

        &.yellow {
            &:before {
                background: $yellow--20;
            }
        }

        &.blue {
            &:before {
                background: $blue--20;
            }
        }
        
        &.green {
            &:before {
                background: $green--20;
            }
        }

        &.link,
        &.video {
            &:hover,
            &:focus {
                padding-top: 34px;
                outline: none;
                transform: translateY(-6px);
                box-shadow: 0 15px 20px rgba(0,0,0,0.1);

                &:before {
                    height: 6px;
                }

                &.yellow {
                    &:before {
                        background: $yellow;
                    }
                }
        
                &.blue {
                    &:before {
                        background: $blue;
                    }
                }
                
                &.green {
                    &:before {
                        background: $green;
                    }
                }
            }
        }

        &.link {
            &:after {
                display: inline-block;
                position: absolute;
                font-family: "Font Awesome 5 Free";
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-weight: 900;
                font-size: 24px;
                right: 40px;
                bottom: 15px;
                content: '\f061';
                color: $blue;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease;
            }

            &:hover,
            &:focus {
                &:after {
                    opacity: 1;
                    visibility: visible;
                    right: 20px;
                }
            }
        }

        &.video {
            width: calc(100% / 3 - 20px);

            h3 {
                width: calc(100% - 40px);
            }

            &:after {
                display: inline-block;
                position: absolute;
                font-family: "Font Awesome 5 Free";
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-weight: 400;
                font-size: 24px;
                right: 20px;
                top: 34px;
                content: '\f144';
                color: $black;
                transition: all 0.2s ease;
            }

            &:hover,
            &:focus {
                &:after {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .grid-of-cards {
        .card {
            &.link {
                &:after {
                    opacity: 0.5;
                    visibility: visible;
                    right: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .grid-of-cards {
        .cards-wrapper {
            .title-wrapper {
                width: calc(50% - 40px);
            }
        }

        .card {
            width: calc(50% - 60px);

            &.video {
                width: calc(50% - 20px);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .grid-of-cards {
        .title-wrapper {
            &.center {
                text-align: left;
            }
        }

        .cards-wrapper {
            margin: 0;
        }

        .card,
        .card.video,
        .cards-wrapper .title-wrapper {
            width: 100%;
            margin: 10px 0;
        }

        .card {
            h3 {
                font-size: 20px;
            }
        }
    }
}