.main-lp-center-content {
    background: white;
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;

        &.callout {
            font-size: 30px;
            font-weight: 600;
            line-height: 1.4;
        }
    }

    .btn {
        margin-top: 40px;
    }
}

@media screen and (max-width: 415px) {
    .main-lp-center-content {
        p.callout {
            font-size: 24px;
        }
    }
}