.module-nav {
    position: fixed;
    width: 100%;
    top: -50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 4;

    &.sticky {
        top: 90px;
        visibility: visible;
        opacity: 1;
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

ul.main-module-nav {
    margin: 0;
    padding: 0;

    li.main-item {
        position: relative;
        display: inline-block;

        button {
            padding: 6px 15px;
            font-size: 16px;
            border-radius: 30px;
            transition: all 0.2s ease;
            font-weight: 600;
            margin-right: 10px;
            outline: none;
            background: white;

            .fas {
                margin-left: 5px;
            }
        }

        &.core {
            button {
                color: $blue;
                border: 2px solid $blue;

                &:hover,
                &:focus {
                    background: $blue--light;
                }
            }

            ul.sub-menu {
                li {
                    a {
                        &:hover,
                        &:focus {
                            background: $blue--light;
                        }
                    }
                }
            }
        }

        &.plus {
            button {
                color: $green;
                border: 2px solid $green;

                &:hover,
                &:focus {
                    background: $green--20;
                }
            }

            ul.sub-menu {
                li {
                    a {
                        &:hover,
                        &:focus {
                            background: $green--20;
                        }
                    }
                }
            }
        }

        &.active {
            button {
                .fas {
                    transform: rotate(180deg);
                }
            }

            &.core {
                button {
                    color: white;
                    background: $blue;
                }
            }

            &.plus {
                button {
                    color: white;
                    background: $green;
                }
            }

            ul.sub-menu {
                top: calc(100% + 15px);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    ul.sub-menu {
        position: absolute;
        background: white;
        margin: 0;
        padding: 5px;
        border-radius: 5px;
        right: left;
        top: calc(100% + 40px);
        width: 150px;
        box-shadow: 0 7px 20px rgba(0,0,0,0.1);
        transition: all 0.2s ease;
        opacity: 0;
        visibility: hidden;

        li {
            display: block;
            list-style: none;

            a {
                display: block;
                font-size: 14px;
                padding: 8px;
                border-radius: 5px;
                border-bottom: 1px solid #EDEDED;
            }

            &:last-child {
                a {
                    border-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    ul.main-module-nav {
        ul.sub-menu {
            width: 200px;
            
            li {
                a {
                    font-size: 18px;
                    padding: 12px;
                }
            }
        }
    }
}