header.navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .top-bar {
        position: relative;

        .btn {
            padding: 10px 15px;
            font-size: 14px;
        }

        .container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .login {
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 30px;
        font-weight: 600;
    }

    .login-dropdown {
        position: absolute;
        top: calc(100% + 10px);
        right: 4%;
        background: white;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 7px 20px rgba(0,0,0,0.1);
        padding: 15px;
        font-size: 14px;
        opacity: 0;
        visibility: hidden;
        z-index: 6;
        transition: all 0.2s ease;

        &.active {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }

        span {
            display: block;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 10px;
        }

        input[type="text"] {
            -webkit-appearance: none;
            border: 0;
            border-bottom: 2px solid $blue;
            padding: 4px;
            
            &.error {
                border-bottom: 2px solid red !important;
                background: rgba(255,0,0,0.15) !important;
            }
        }

        input[type="submit"] {
            display: block;
            margin: 15px auto 0;
        }
    }

    .main-nav {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.2s ease;

        &.sticky {
            position: fixed;
            background: white;
            border-bottom: 1px solid $blue--20;

            .container {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .logo-main {
                opacity: 0;
                visibility: hidden;
            }

            .logo-full {
                opacity: 1;
                visibility: visible;
            }

            .main-item {
                color: $black;

                &:after {
                    background: $black;
                }
            }
        }

        .container {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .logo-main {
        width: 175px;
        transition: all 0.2s ease;
    }

    .logo-full {
        position: absolute;
        width: 160px;
        left: 4%;
        top: 8px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
    }

    ul.nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        margin: 0;

        > li {
            position: relative;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .main-item {
        display: block;
        position: relative;
        font-size: 18px;
        color: white;
        padding: 10px 0;
        margin: 0 0 0 40px;
        outline: none;
        font-weight: 600;

        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 2px;
            background: white;
            transition: all 0.2s ease;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &:hover,
        &:focus {
            &:after {
                width: 100%;
            }
        }
    }

    .has-children {
        .main-item {
            padding-right: 20px;

            &:before {
                display: inline-block;
                position: absolute;
                font-family: "Font Awesome 5 Free";
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-weight: 900;
                content: '\f107';
                right: 0;
                top: 10px;
                transition: all 0.2s ease;
            }
        }

        &.active {
            .main-item {
                &:after {
                    display: none;
                }

                &:before {
                    transform: rotateX(180deg);
                }
            }

            .sub-nav {
                top: calc(100% + 15px);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .sub-nav {
        position: absolute;
        background: white;
        margin: 0;
        padding: 5px;
        border-radius: 5px;
        right: 0;
        top: calc(100% + 40px);
        width: 150px;
        box-shadow: 0 7px 20px rgba(0,0,0,0.1);
        transition: all 0.2s ease;
        opacity: 0;
        visibility: hidden;
    }

    .sub-item {
        display: block;
        list-style: none;

        a {
            display: block;
            font-size: 14px;
            padding: 8px;
            border-radius: 5px;
            border-bottom: 1px solid #EDEDED;

            &:hover,
            &:focus {
                background: $blue--20;
            }
        }

        &:last-child {
            a {
                border-bottom: 0;
            }
        }
    }

    .mobile-trigger {
        display: none;
        position: relative;
        width: 25px;
        height: 21px;
        outline: none;

        span {
            position: absolute;
            width: 25px;
            height: 3px;
            left: 0;
            right: 0;
            margin: auto;
            background: $black;
            transition: all 0.2s ease;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 9px;
            }

            &:nth-child(3) {
                bottom: 0;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 50%;
                }

                &:nth-child(2) {
                    width: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 50%;
                    bottom: auto;
                }
            }
        }
    }
}

body.mobile {
    .top-bar {
        display: none;
    }

    .top-bar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px 25px;
        border-top: 1px solid $black;
        width: calc(100% - 40px);

        .btn {
            padding: 10px 15px;
            font-size: 14px;
        }
    }

    .login {
        color: $black;
    }

    .login-dropdown {
        position: fixed;
        border: 1px solid $black;
        left: 0;
        right: 0;
        top: 30vh;
        margin: auto;
        width: 400px;
        max-width: calc(90% - 30px);
        font-size: 16px;
        padding: 25px 15px;

        &.active {
            top: 25vh;
        }

        span {
            font-size: 18px;
        }
    }

    header.navigation {
        .mobile-trigger {
            display: block;
        }

        .logo-main {
            display: none;
        }

        .logo-full {
            position: relative;
            width: 120px;
            left: 0;
            top: 0;
            opacity: 1;
            visibility: visible;
        }

        .main-nav {
            position: fixed;
            background: white;
            border-bottom: 1px solid $black;

            .container {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            position: fixed;
            width: 100%;
            height: calc(100vh - 62px);
            top: 62px;
            left: 0;
            background: white;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        ul.nav {
            position: relative;
            display: block;
            width: 100%;
            height: calc(100% - 80px);
            overflow-y: scroll;
            overflow-x: hidden;
            transition: all 0.2s ease;

            &.dropdown-active {
                opacity: 0.5;
                filter: blur(3px);
            }
        }

        .has-children {
            .main-item {
                &:before {
                    right: 20px;
                    top: 30px;
                }
            }
        }

        .main-item {
            color: $black;
            width: 100%;
            text-align: left;
            padding: 30px 20px;
            margin: 0;
            font-size: 20px;
            border-bottom: 1px solid #EDEDED;
        }

        .sub-nav {
            display: none;
            position: relative;
            opacity: 1;
            visibility: visible;
            box-shadow: none;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .sub-item {
            a {
                padding: 20px;
                font-size: 18px;
            }

            &:last-child {
                a {
                    border-bottom: 1px solid #EDEDED;
                }
            }
        }
    }
}