.resources-filter {
    .input {
        width: 150px;
        
        &:after {
            top: 13px;
        }
    }

    select {
        -webkit-appearance: none;
        font-size: 16px;
        color: $blue;
        font-weight: 600;
        border: 2px solid $blue;
        border-radius: 30px !important;
        padding: 10px 15px;
        outline: none;
        cursor: pointer;

        &:focus {
            background: $blue--light;
        }
    }
}

ul.resources-grid {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0;
    margin: 40px -10px 0;
}

li.resource-card {
    display: block;
    padding: 0;
    margin: 0 10px 30px;
    width: calc(100% / 3 - 20px);
    transition: all 0.2s ease;

    &:hover {
        box-shadow: 0 4px 10px rgba(0,0,0,0.08);
        transform: translateY(-5px);

        .img-wrapper {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    
    .img-wrapper {
        height: 20vw;
        max-height: 250px;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        transition: all 0.2s ease;
    }

    .content-wrapper {
        padding: 20px;

        span {
            display: block;
            font-weight: 600;

            &.type {
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $yellow;
                margin-bottom: 10px;
            }

            &.resource-title {
                font-size: 20px;
                line-height: 1.4;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    li.resource-card {
        width: calc(50% - 20px);

        .img-wrapper {
            height: 30vw;
        }

        .content-wrapper {
            padding: 15px;
        }
    }
}

@media screen and (max-width: 550px) {
    li.resource-card {
        width: calc(100% - 20px);

        .img-wrapper {
            height: 40vw;
        }
    }
}