@import url("https://use.typekit.net/umb3alt.css");
@import './normalize';

$blue: #0277BD;
$yellow: #FDC526;
$blue--light: #F2F8FC;
$black: #3F3F3F;
$green: #43B77D;
$blue--20: #CCE4F2;
$green--20: #D9F1E5;
$yellow--20: #FFF3D4;

body,
html {
  font-family: "museo-sans", sans-serif;
  color: #3f3f3f; 
  height: 200vh;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1600px;
    padding: 100px 4%;
    margin: auto;
}

.banner {
    position: relative;

    .container {
        padding-top: 250px;
    }
    
    .curve-accent {
        position: relative;
        display: block;
        width: 100%;
        bottom: -5px;
    }
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    line-height: 1.1;
}

h1 {
    margin-bottom: 0;
}

p, li {
    font-size: 18px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
}

.caption {
    font-size: 16px;
    text-transform: uppercase;
    color: $yellow;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 0 0 20px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 30px;
}

.img-wrapper {
    img {
        display: block;
    }
}

img {
    max-width: 100%;
}

.lazyload,
.lazyloading {
    opacity: 0;
    transform: translateY(20px);
}

.lazyloaded {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
}

button {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    box-shadow: none;
    color: inherit;
    font-family: "museo-sans", sans-serif;
    cursor: pointer;
}

.btn {
    border: 0;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 20px;
    margin: 10px 15px 0 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    &.btn-yellow {
        background: $yellow;
        border: 1px solid $yellow;
    }

    &.btn-hollow {
        background: transparent;
        border: 1px solid $black;

        &:hover,
        &:focus {
            background: $black;
            color: white;
        }

        &.white {
            color: white;
            border: 1px solid white;

            &:hover,
            &:focus {
                background: white;
                color: $black;
            }
        }
    }
}

.vidyard-player-wrapper--hidden {
    display: none;
}

@media screen and (max-width: 1600px) {
    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        .container {
            padding-top: 140px;
        }
    }
}

@media screen and (max-width: 415px) {
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .title {
        font-size: 32px;
    }
}

.hs-form {
    max-width: 500px;
    margin: auto;
}

.field {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    > label {
        margin: 5px 10px;
        line-height: 1.6;
        font-weight: 600;
        font-size: 14px;
    }
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
textarea,
select {
    border-radius: 2px !important;
    border: 1px solid #E5E5E5;
    padding: 15px 20px;
    background: white;
    font-family: 'museo-sans', sans-serif;

    &.error {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.form-columns-1 {
    .input {
        margin: 0 10px !important;
    }

    .hs-form-field:not(.hs-fieldtype-radio):not(.hs-fieldtype-checkbox):not(.hs-fieldtype-booleancheckbox):not(.hs-fieldtype-select) {
        width: calc(100% - 20px) !important;

        ul.inputs-list.hs-error-msgs li label {
            width: calc(100% - 11px);
        }
    }
}

.form-columns-2 {
    .input {
        margin: 0 10px !important;
    }

    input {
        width: calc(100% - 40px) !important;
    }
}

.hs-fieldtype-select,
.resources-filter {
    .input {
        position: relative;

        &:after {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 900;
            content: "\f0d7";
            font-weight: 900;
            top: 15px;
            right: 15px;
            color: $blue;
        }
    }
}

select {
    -webkit-appearance: none;
    width: 100% !important;
}

textarea {
    resize: none;
    min-height: 80px;
}

ul.inputs-list {
    padding-left: 0;
    margin: 10px 0 0;

    li {
        list-style: none;
    }

    &.hs-error-msgs {
        margin-top: 0;

        li label {
            font-size: 13px;
            background: #eb3d61;
            width: calc(100% - 28px);
            color: white !important;
            text-shadow: none;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            padding: 5px;
            margin: 0 10px;
            text-align: left;
            line-height: 1.2;

            &.hs-main-font-element {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                padding: 5px 15px;
            }
        }

        &.no-list {
            text-align: center;
        }
    }
}

li.hs-form-booleancheckbox,
li.hs-form-checkbox,
li.hs-form-radio {
    font-size: 16px;
    text-align: left;

    >label {
        input {
            margin: 5px 10px 0 0;
        }
    }
}

.hs-form .actions {
    text-align: center;
}

input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 5px !important;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s ease;
    border: 1px solid $yellow;
    background: $yellow;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        cursor: pointer;
    }
}

.submitted-message {
    text-align: center;
    margin-top: 40px;
}

.legal-consent-container {
    padding: 0 10px;

    p, label {
        font-size: 12px;
    }

    li.hs-form-booleancheckbox > label input {
        margin-top: 2px;
    }
}

.form-wrapper.card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
    
    h3 {
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (max-width: 415px) {
    .form-columns-1 {
        .hs-form-field:not(.hs-fieldtype-radio):not(.hs-fieldtype-checkbox):not(.hs-fieldtype-booleancheckbox) {
            width: calc(100% - 28px) !important;

            ul.inputs-list.hs-error-msgs li label {
                width: 100%;
            }
        }

        .hs-form-field.hs-fieldtype-select .input {
            width: calc(100% + 10px);
        }
    }

    .submitted-message {
        text-align: left;
    }

    .form-wrapper.card {
        padding: 40px 10px;
        
        h3 {
            font-size: 32px;
        }
    }
}

@import './navigation';
@import './footer';

@import './home-banner';
@import './image-and-text';
@import './grid-of-cards';
@import './testimonials';
@import './mission-brands';
@import './center-cta';
@import './image-banner';
@import './two-column-content';
@import './mission-block';
@import './about-signature.scss';
@import './bold-banner';
@import './blue-banner';
@import './blue-banner-simple';
@import './grid-of-stats';
@import './columned-list';
@import './integrations';
@import './center-content';
@import './module-nav';
@import './feature-banner';
@import './feature-intro';
@import './feature-stats';
@import './feature-grid-of-cards';
@import './accordion';
@import './form-embed';
@import './resources';
@import './main-lp-banner';
@import './main-lp-content-form';
@import './main-lp-center-content';
@import './offer-lp-banner';
@import './offer-lp-content-form';
@import './thank-you';